@model GemStore.Models.ShoppingCart
<div class="cart-info float-right">
    <a href="/Cart">
        <h5>My cart <span>@Model.GetCartItems().Count</span> items - <span>$@Model.GetTotalPrice()</span></h5>
        <i class="fa fa-shopping-cart"></i>
    </a>
    <div class="cart-hover">
        <ul class="header-cart-pro">
            @foreach (var cartItem in Model.GetCartItems().Values)
            {
            <li>
                <div class="image"><a href="#"><img alt="cart item" src="@cartItem.Thumbnail"></a></div>
                <div class="content fix"><a href="#">@cartItem.Name</a><span class="price">Price: $@cartItem.UnitPrice</span><span class="quantity">Quantity: @cartItem.Quantity</span></div>
                <i class="fa fa-trash delete"></i>
            </li>
            }
        </ul>
        <div class="header-button-price">
            <a href="/Home/Checkout"><i class="fa fa-sign-out"></i><span>Check Out</span></a>
            <div class="total-price">
                <h3>Total Price : <span>$@Model.GetTotalPrice()</span></h3>
            </div>
        </div>
    </div>
</div>

