@using Microsoft.AspNet.Identity
@model GemStore.Models.ShoppingCart
@{
    ViewBag.Title = "Checkout";
}
<div class="page-title fix">
    <!--Start Title-->
    <div class="overlay section">
        <h2>Checkout</h2>
    </div>
</div><!--End Title-->
<section class="checkout-page page fix">
    <!--Start Checkout Area-->
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                @if (!Request.IsAuthenticated)
                {
                    <div class="panel-group" id="checkout-progress">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="active" data-toggle="collapse" data-parent="#checkout-progress" href="#checkout-method"><span>1</span>CHECKOUT METHOD</a>
                            </div>
                            <div id="checkout-method" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="col-sm-6">
                                        <div class="checkout-method checkout-reg fix">
                                            <h2>PLEASE LOGIN BEFORE CHECKOUT</h2>
                                            <button style="" title="Click to register" data-toggle="modal" data-target="#modalRegister">Already registered?</button>
                                            <h3>REGISTER AND SAVE TIME!</h3>
                                            <ul>
                                                <li>Fast and easy checkout</li>
                                                <li>Easy access to your order history and status</li>
                                            </ul>
                                            <a class="btn-continue" href="javascript:void(0)">CONTINUE</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="checkout-method  checkout-login">
                                            <h2>login</h2>
                                            <h4>Please login below</h4>
                                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Url.Action("Checkout", "Cart") }, FormMethod.Post, new { id = "formLogin" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <label>Username</label>
                                                <input data-val="true" data-val-required="The Username field is required." id="Username" name="Username" type="text" value="">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                                                <br />
                                                <label>Password*</label>
                                                <input data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password">
                                                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                                <input name="RememberMe" type="hidden" value="false">
                                                <a href="javascript:void(0)" onclick="$('#formLogin').submit();">login</a>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="panel-group" id="checkout-progress">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="active" data-toggle="collapse" data-parent="#checkout-progress" href="#checkout-method"><span>1</span>CHECKOUT METHOD</a>
                            </div>
                            <div id="checkout-method" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="col-sm-6">
                                        <div class="checkout-method checkout-reg fix">
                                            <h2>CHECKOUT AS @User.Identity.GetUserName().ToUpper()</h2>
                                            <a class="btn-continue" href="javascript:void(0)">CONTINUE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="collapsed" data-toggle="collapse" data-parent="#checkout-progress" href="#shipping-info"><span>2</span>SHIPPING INFORMATION</a>
                            </div>
                            <div id="shipping-info" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="bill-info">
                                        <div class="group">
                                            <input name="shipFirstName" type="text" placeholder="First Name*" class="half">
                                            <input name="shipLastName" type="text" placeholder="Last Name*" class="half">
                                        </div>
                                        <input name="shipAddress" type="text" placeholder="STREET ADDRESS*">
                                        <div class="group">
                                            <input name="shipEmail" type="text" placeholder="E-mail Address*" class="half">
                                            <input name="shipPhone" type="text" placeholder="PHONE NUMBER*" class="half">
                                        </div>
                                        <a class="btn-continue" href="javascript:void(0)">CONTINUE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="collapsed" data-toggle="collapse" data-parent="#checkout-progress" href="#shipping-method"><span>3</span>SHIPPING METHOD</a>
                            </div>
                            <div id="shipping-method" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-sm-6">
                                        <div class="checkout-method checkout-reg fix">
                                            <h2>CHOOSE SHIP METHOD</h2>
                                            <input value="1" type="radio" name="shipMethod" attr-name="Via post"/>
                                            <p>Via post</p>
                                            <input value="2" type="radio" name="shipMethod" attr-name="Courier"/>
                                            <p>Courier</p>
                                            <a class="btn-continue" href="javascript:void(0)">CONTINUE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="collapsed" data-toggle="collapse" data-parent="#checkout-progress" href="#payment-met"><span>4</span>PAYMENT INFORMATION</a>
                            </div>
                            <div id="payment-met" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="checkout-method checkout-reg fix">
                                        <p>Choose your payment method :</p>
                                        <input value="1" attr-name="Cod" type="radio" name="PaymentTypeId" />
                                        <p>Cod</p>
                                        <input value="2" attr-name="Payment online" type="radio" name="PaymentTypeId" />
                                        <p>Payment online</p>
                                        <input value="3" type="radio" attr-name="DirectTransfer" name="PaymentTypeId" />
                                        <p>DirectTransfer</p>
                                        <h2>YOUR PAYPAL ACCOUNT</h2>
                                        <p>Pay via credit or debit card, Paypal transfer or even via Bank account in just a few clicks.</p>
                                        <p>This method is super easy and well protected.</p>
                                        <a id="btn-continue-order-review" class="btn-continue" href="javascript:void(0)">continue</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a id="btn-order-review" class="collapsed" data-toggle="collapse" data-parent="#checkout-progress" href="#order-review"><span>5</span>ORDER REVIEW</a>
                            </div>
                            <div id="order-review" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-sm-4">
                                        <div class="information ship-information">
                                            <h3>SHIPPING INFORMATION</h3>
                                            <h4></h4>
                                            <h5></h5>
                                            <p></p>
                                            <a href="#">MODIFY</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="information ship-method-information">
                                            <h3>CHOOSED SHIPPING METHOD</h3>
                                            <h4>Method : </h4>
                                            <a id="shipping" href="#">MODIFY</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="information payment-information">
                                            <h3>CHOOSED PAYMENT METHOD</h3>
                                            <h4>Method : </h4>
                                            <a id="shipping" href="#">MODIFY</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="place-order">
                                            <div class="order-list">
                                                <h1>PRODUCTS</h1>
                                                <h2>Total</h2>
                                                @foreach (var cartItem in Model.GetCartItems().Values)
                                                {
                                                    <h3>@cartItem.Name x @cartItem.Quantity <span>$@(cartItem.UnitPrice * cartItem.Quantity)</span></h3>
                                                }
                                            </div>
                                            <div class="final-total">
                                                <h4>Sub Total <span>$@Model.GetTotalPrice()</span></h4>
                                                <h5>Grand Total <span>$@Model.GetTotalPrice()</span></h5>
                                                <a id="btn-create-order" href="javascript:void(0)">Place Order</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form id="paypalForm" name="_xclick" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_xclick">
                        <input type="hidden" name="business" value="admin0123456789@gmail.com">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="item_name" value="">
                        <input type="hidden" name="amount" value="">
                        <input type="hidden" name="return" value="">
                    </form>
                }
            </div>
            <div class="col-md-3">
                <div class="checkout-right">
                    <h2>CHECKOUT PROGRESS</h2>
                    <ul>
                        <li><a href="#">Checkout Method</a></li>
                        <li><a href="#">Shipping Information</a></li>
                        <li><a href="#">Shipping Method</a></li>
                        <li><a href="#">Payment Information</a></li>
                        <li><a href="#">Order Review</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--End Checkout Area-->
@section scripts
{
    <script type="text/javascript">
        $(".btn-continue").on("click",
            function() {
                $(this).closest('.panel-collapse').removeClass('in');
                $(this).closest('a').removeClass('active');
                $(this).closest('.panel-collapse').attr("aria-expanded", 'false');
                $(this).closest('a').attr("aria-expanded", 'false');
                $(this).closest('.panel').next().find('.panel-collapse').addClass('in');
                $(this).closest('.panel').next().find('a').addClass('active');
                $(this).closest('.panel').next().find('a').removeClass('collapsed');
                $(this).closest('.panel').next().find('.panel-collapse').attr('style', "");
                $(this).closest('.panel').next().find('.panel-collapse').attr("aria-expanded", 'true');
                $(this).closest('.panel').next().find('a').attr("aria-expanded", 'true');
                var shipFirstName = $("input[name='shipFirstName']").val();
                var shipLastName = $("input[name='shipLastName']").val();
                var shipAddress = $("input[name='shipAddress']").val();
                var shipPhone = $("input[name='shipPhone']").val();
                var shipMethod = $("input[name='shipMethod']:checked").attr('attr-name');
                var PaymentTypeId = $("input[name='PaymentTypeId']:checked").attr('attr-name');
                $('.ship-information h4').text(shipFirstName.toUpperCase() + " " + shipLastName.toUpperCase());
                $('.ship-information p').text(shipAddress.toUpperCase());
                $('.ship-information h5').text("Phone : " + shipPhone.toUpperCase());
                $('.ship-method-information h4').text("Method : " + shipMethod.toUpperCase());
                $('.payment-information h4').text("Method : " + PaymentTypeId.toUpperCase());
            });
        $("#btn-create-order").on("click",
            function() {
                var paymentMethod = $("input[name='PaymentTypeId']:checked").val();
                if (paymentMethod == 2) {
                    $.when($.ajax({
                        type: "POST",
                        url: "/Cart/CreateOrder",
                        data: {
                            "shipFirstName": $("input[name='shipFirstName']").val(),
                            "shipLastName": $("input[name='shipLastName']").val(),
                            "shipPhone": $("input[name='shipPhone']").val(),
                            "shipAddress": $("input[name='shipAddress']").val()
                        },
                        success: function(resp) {
                            alertify.set('notifier', 'position', 'top-right');
                            alertify.success('Your order saved success!');
                            $("input[name='item_name']").val(resp.OrderId);
                            $("input[name='amount']").val(resp.Amount);
                            var orderId = resp.OrderId;
                            $("input[name='return']").val(`${url}/Manage/ShowOrder?orderId=${orderId}&status=2`);
                        }
                    })).then(function() {
                        $("#paypalForm").submit();
                    });

                } else {
                    $.ajax({
                        type: "POST",
                        url: "/Cart/CreateOrder",
                        data: {
                            "shipFirstName": $("input[name='shipFirstName']").val(),
                            "shipLastName": $("input[name='shipLastName']").val(),
                            "shipPhone": $("input[name='shipPhone']").val(),
                            "shipAddress": $("input[name='shipAddress']").val()

                        },
                        success: function(resp) {
                            alertify.set('notifier', 'position', 'top-right');
                            alertify.success('Your order saved success!');
                            var orderId = resp.OrderId;
                            window.location.href = `${url}/Manage/ShowOrder?orderId=${orderId}`;
                        }
                    });
                }
            });

        function createOrderSuccess(resp) {
            alertify.set('notifier', 'position', 'top-right');
            alertify.success('Your order saved success!');
            console.log(resp)
            var paymentMethod = $("input[name='PaymentTypeId']:checked").val();
            if (paymentMethod != 2) {

            }
        }
    </script>
}
