@model GemStore.Models.ItemMst
@{
    var selectlist = ViewBag.Item as SelectList;
}
@using (Ajax.BeginForm("Test02", "Cart", new AjaxOptions {HttpMethod = "POST", UpdateTargetId = "result"}))
{
    @Html.DropDownListFor(x => Model.StyleCode, selectlist, new {onchange = "$(this.form).submit();"})
    
}
<div id="result">@Html.DropDownList("Stone", null, new { }) mai mai</div>
    @*@section scripts
{
        <script type="text/javascript">
        $('#StyleCode').change(function () {
            this.form.submit();
            
        });
        </script>
    }*@
