@{
    ViewBag.Title = "About";
}


<div class="page-title fix">
    <!--Start Title-->
    <div class="overlay section">
        <h2>ABout us</h2>
    </div>
</div><!--End Title-->
<section class="about-page page fix">
    <!--Start About Area-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-title">
                    <h2>ABOUT YASH GEMS & JEWELLERIES</h2>
                </div>
                <div class="about-text">

                    <blockquote>
                        <p>
                            "Mr. Robert D’costa started the business from the scratch in 2005. The flagship
                            company of Yash Gems & Jewelleries (P) ltd was formed to carry on the
                            business of manufacturing and trading of Gold & Diamond Jewellery."
                        </p>
                    </blockquote>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="about-text">
                    <h2>WHY <span> CHOOSE US</span> </h2>
                    <p class="about-margin">
                        To manufacture diamond Jewellery with ultimate brilliance, Yash has employed
                        the latest and most advanced technologies for manufacturing diamond jewellery.

                    </p>
                    <p>
                        As a supplier to some of the most exclusive retailers, Yash have intimate
                        knowledge of the cultures and trends of the markets served. The national sales
                        and distribution network team allows them to cultivate a close relationship with
                        the customers and guarantees efficient services.
                    </p>
                   

                </div>
            </div>
            <div class="col-sm-6">
                <div class="about-img">
                    <img src="~/Content/user/img/about/about.jpg" alt="" />
                </div>
            </div>
            <div class="col-sm-12">
                <div class="about-text">

                    <p>
                        Yash believes in reflecting their jewellery with special magic, conjured by
                        melting of spirit and dedication, labour and craftsmanship, and art of work. The
                        talented designers, skilled craftsmen and dedicated managers use state-of-the-
                        art technology to produce the finest level of diamond jewellery for leading
                        retailers.
                    </p>
                    <p>
                        The company’s sincere desire is to give every client a reason to feel good. And
                        policy is to offer top quality merchandise to the customers at the best possible
                        price.
                        With a vision and motto of providing its customers products of impeccable
                        quality, Yash has outnumbered many in innovative design and quality, making
                        itself the benchmark and hallmark of the Indian jewellery industry.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section><!--End About Area-->
<section class="team-area page fix">
    <!--Start Designer Area-->
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2>Our designer</h2>
                <div class="underline"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="designer fix">
                    <div class="designer-img">
                        <img src="~/Content/user/img/about/designer-1.jpg" alt="" />
                        <div class="designer-text">
                            <h2>Lora Smith</h2>
                            <h3>Jewelry Designer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="designer-socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="designer fix">
                    <div class="designer-img">
                        <img src="~/Content/user/img/about/designer-2.jpg" alt="" />
                        <div class="designer-text">
                            <h2>William Martin</h2>
                            <h3>Jewelry Designer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="designer-socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="designer fix">
                    <div class="designer-img">
                        <img src="~/Content/user/img/about/designer-3.jpg" alt="" />
                        <div class="designer-text">
                            <h2>Julia Jones</h2>
                            <h3>Jewelry Designer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="designer-socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="designer fix">
                    <div class="designer-img">
                        <img src="~/Content/user/img/about/designer-4.jpg" alt="" />
                        <div class="designer-text">
                            <h2>Thomas Albert</h2>
                            <h3>Jewelry Designer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="designer-socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--End Designer Area-->
