
@{
    ViewBag.Title = "BlogDetails";
}
<div class="page-title fix">
    <!--Start Title-->
    <div class="overlay section">

    </div>
</div><!--End Title-->
<section class="blog-page page fix">
    <!-- Start Blog Details-->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-9">
                <div class="single-blog blog-details">
                    <div class="content fix">
                        <img src="~/Content/user/img/blog/blog-details.jpeg" alt="" />
                        <div class="date">
                            <h4>12</h4>
                            <h5>Mar</h5>
                        </div>
                        <h2>Statement Necklaces</h2>
                        <div class="meta">
                            <a href="#"><i class="fa fa-pencil-square-o"></i>Allie Mobley</a>
                            <a href="#"><i class="fa fa-comments"></i>12 Comments</a>
                        </div>
                        <p>It’s April! Spring is in the air, Easter is around the corner, and it’s getting warmer outside. There are lots of reasons to be excited about April. We’re excited because it’s diamond month! If you were born this month, your birthstone is one of the most beautiful and coveted gemstones. Today we’ll show you a few stunning pieces that feature this brilliant stone.</p>
                        <p>First, we have one of our favorite rings, and it’s one of our customers’ favorites, too! The twisting design of the gold makes this one beautiful ring. With no fewer than 31 brilliant white diamonds studding this design, it really makes a statement! You’ll have to act fast if you want one for yourself, though. It’s one of our best-sellers!</p>
                        <img src="~/Content/user/img/blog/blog-detail1.jpeg" alt="" style="width:auto" />
                        <p>Is there a duo more iconic than diamonds and gold? Maybe not…but why not give it a twist? Lab grown diamonds are not only beautifully brilliant, they’re also the perfect choice for the frugal fashionista. If diamonds are your best friend, then give the lab-grown beauties a try! You won’t be disappointed.</p>
                        <img src="~/Content/user/img/blog/blog-detail2.jpeg" alt="" style="width:auto" />
                        <p>
                            Of course, diamonds can stand on their own. They’re beautiful! But they also play very nicely with others. This white gold ring is a beautiful example of how different stones together can lift each other up. The white diamonds brings the sparkle, and the deep wine color of the Burmese Rubies are more than an accent. Together, they make this a top-rated piece.
                        </p>
                        <img src="~/Content/user/img/blog/blog-detail3.jpeg" alt="" style="width:auto" />
                        <p>We love colored diamonds! In fact, anything a little out of the ordinary is perfect for us. That’s why we’re such fans of pairing colored diamonds with different metals. The soft pink of the rose gold in this sparkling star pendant marries wonderfully with the tone of the champagne diamonds, and it makes a great gift for any April baby who is your shining star.</p>
                        <img src="~/Content/user/img/blog/blog-detail4.jpeg" alt="" style="width:auto" />
                        <p>Lastly, we have something really special to show you. This new arrival takes our breath away! The diamonds and rhodolite garnets come together for a piece that is simply stunning. The light purple of these garnets makes for a piece that will transition nicely into the coming warmer months, and is once again a testament to elevated beauty of gemstones working in harmony.</p>
                        <p>April may only be 30 days long, but diamonds are indeed forever. With so much variety, from colored diamonds, to lab-grown diamonds and everything in between, there’s a look for everyone. Head to yash.com and come celebrate Diamond Month with us!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="single-sidebar">
                    <h2>Recent Post</h2>
                    <ul class="resent-post">
                        <li>
                            <!-- SINGLE POST -->
                            <div class="image">
                                <a href="#"><img alt="" src="~/Content/user/img/blog/blog-12.jpeg"></a>
                            </div>
                            <div class="content fix">
                                <h5><a href="#">Moissanite Fir...</a></h5>
                                <span><i class="fa fa-clock-o"></i>6-4-2020</span>
                            </div>
                        </li>
                        <li>
                            <!-- SINGLE POST -->
                            <div class="image">
                                <a href="#"><img alt="" src="~/Content/user/img/blog/blog-11.jpeg"></a>
                            </div>
                            <div class="content fix">
                                <h5><a href="#">December Bir...</a></h5>
                                <span><i class="fa fa-clock-o"></i>5-4-2020</span>
                            </div>
                        </li>
                        <li>
                            <!-- SINGLE POST -->
                            <div class="image">
                                <a href="#"><img alt="" src="~/Content/user/img/blog/blog-10.jpeg"></a>
                            </div>
                            <div class="content fix">
                                <h5><a href="#">Gift Sets...</a></h5>
                                <span><i class="fa fa-clock-o"></i>4-4-2020</span>
                            </div>
                        </li>
                        <li>
                            <!-- SINGLE POST -->
                            <div class="image">
                                <a href="#"><img alt="" src="~/Content/user/img/blog/blog-9.jpeg"></a>
                            </div>
                            <div class="content fix">
                                <h5><a href="#">Animal-Them...</a></h5>
                                <span><i class="fa fa-clock-o"></i>4-4-2020</span>
                            </div>
                        </li>
                        <li>
                            <!-- SINGLE POST -->
                            <div class="image">
                                <a href="#"><img alt="" src="~/Content/user/img/blog/blog-8.jpeg"></a>
                            </div>
                            <div class="content fix">
                                <h5><a href="#">Hello 20...</a></h5>
                                <span><i class="fa fa-clock-o"></i>4-4-2020</span>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</section><!-- Start Blog Details-->
