
@{
    ViewBag.Title = "Blog";
}
<div class="page-title fix">
    <!--Start Title-->
    <div class="overlay section">

    </div>
</div><!--End Title-->
<!--End Main Menu Area-->
<section class="blog-page page fix">
    <!-- Start Blog Area-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="content fix">
                        <a class="image fix" href="/Home/BlogDetails">
                            <img src="~/Content/user/img/blog/blog-1.jpeg" alt="" />
                            <div class="date">
                                <h4>12</h4>
                                <h5>Mar</h5>
                            </div>
                        </a>
                        <h2><a class="title" href="/Home/BlogDetails">Statement Necklaces</a></h2>
                        <div class="meta">
                            <a href="#"><i class="fa fa-pencil-square-o"></i>Allie Mobley</a>
                            <a href="#"><i class="fa fa-comments"></i>12 Comments</a>
                        </div>
                        <p>One of everyone’s favorite jewelry looks, and a look that almost everyone can get on board with: statement necklaces. Statement necklaces have been a fashion.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="content fix">
                        <a class="image fix" href="/Home/BlogDetails">
                            <img src="~/Content/user/img/blog/blog-2.jpeg" alt="" />
                            <div class="date">
                                <h4> 1</h4>
                                <h5>Apr</h5>
                            </div>
                        </a>
                        <h2><a class="title" href="Home/BlogDetails">April Is Diamond Month</a></h2>
                        <div class="meta">
                            <a href="#"><i class="fa fa-pencil-square-o"></i>by Robert Killefer</a>
                            <a href="#"><i class="fa fa-comments"></i>12 Comments</a>
                        </div>
                        <p>It’s April! Spring is in the air, Easter is around the corner, and it’s getting warmer outside. There are lots of reasons to be excited about April. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="content fix">
                        <a class="image fix" href="/Home/BlogDetails">
                            <img src="~/Content/user/img/blog/blog-4.jpeg" alt="" />
                            <div class="date">
                                <h4>3</h4>
                                <h5>Mar</h5>
                            </div>
                        </a>
                        <h2><a class="title" href="/Home/BlogDetails">Astrological Jewelry</a></h2>
                        <div class="meta">
                            <a href="#"><i class="fa fa-pencil-square-o">Luke Dudrick</i></a>
                            <a href="#"><i class="fa fa-comments"></i>13 Comments</a>
                        </div>
                        <p>For centuries people have been captivated by the stars, looking up to the night sky for inspiration. Even today, reading horoscopes is still immensely popular. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="content fix">
                        <a class="image fix" href="/Home/BlogDetails">
                            <img src="~/Content/user/img/blog/blog-3.jpeg" alt="" />
                            <div class="date">
                                <h4>24</h4>
                                <h5>Mar</h5>
                            </div>
                        </a>
                        <h2><a class="title" href="/Home/BlogDetails">Clutches For Spring</a></h2>
                        <div class="meta">
                            <a href="#"><i class="fa fa-pencil-square-o"></i>Allie Mobley</a>
                            <a href="#"><i class="fa fa-comments"></i>10 Comments</a>
                        </div>
                        <p>We’re known for our wide variety of jewelry and gemstones, but did you know that we also have an extensive collection of dazzling clutches? </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="content fix">
                        <a class="image fix" href="/Home/BlogDetails">
                            <img src="~/Content/user/img/blog/blog-6.jpeg" alt="" />
                            <div class="date">
                                <h4>25</h4>
                                <h5>Feb</h5>
                            </div>
                        </a>
                        <h2><a class="title" href="/Home/BlogDetails">New York Fashion Week 2020</a></h2>
                        <div class="meta">
                            <a href="#"><i class="fa fa-pencil-square-o"></i>Victoria Henley</a>
                            <a href="#"><i class="fa fa-comments"></i>12 Comments</a>
                        </div>
                        <p>This year’s NYFW marked the busiest and most productive Fashion Week events to date, as pieces from Jewelry Television’s Southwest Style, took center stage.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="content fix">
                        <a class="image fix" href="blog-details.html">
                            <img src="~/Content/user/img/blog/blog-7.jpeg" alt="" />
                            <div class="date">
                                <h4>20</h4>
                                <h5>Feb</h5>
                            </div>
                        </a>
                        <h2><a class="title" href="blog-details.html">Hello 2020 Spring Trends!</a></h2>
                        <div class="meta">
                            <a href="#"><i class="fa fa-pencil-square-o"></i>Allie Mobley</a>

                            <a href="#"><i class="fa fa-comments"></i>40 Comments</a>
                        </div>
                        <p>A new season is approaching, thanks to Punxsutawney Phil, and we can’t wait for the blooming rosebuds, green leaves on trees.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="content fix">
                        <a class="image fix" href="blog-details.html">
                            <img src="~/Content/user/img/blog/blog-9.jpeg" alt="" />
                            <div class="date">
                                <h4>10</h4>
                                <h5>Nov</h5>
                            </div>
                        </a>
                        <h2><a class="title" href="blog-details.html">November Birthstone – Citrine</a></h2>
                        <div class="meta">
                            <a href="#"><i class="fa fa-pencil-square-o"></i>Robert Killefer</a>
                            <a href="#"><i class="fa fa-calendar"></i>2 Days ago</a>
                            <a href="#"><i class="fa fa-comments"></i>121 Comments</a>
                        </div>
                        <p>The year is drawing close to its end, but there are still birthdays left. It’s time to celebrate November babies, if your big day is this month, your birthstone is citrine!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="content fix">
                        <a class="image fix" href="blog-details.html">
                            <img src="~/Content/user/img/blog/blog-10.jpeg" alt="" />
                            <div class="date">
                                <h4>18</h4>
                                <h5>Dec</h5>
                            </div>
                        </a>
                        <h2><a class="title" href="blog-details.html">Gift Sets For The Jewelry Lover</a></h2>
                        <div class="meta">
                            <a href="#"><i class="fa fa-pencil-square-o"></i>Allie Mobley</a>
                            <a href="#"><i class="fa fa-comments"></i>33 Comments</a>
                        </div>
                        <p>We always say, “next year will be different” but it never is. Mid-December hits and you still have to find the perfect gifts for half your family members!</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="content fix">
                        <a class="image fix" href="blog-details.html">
                            <img src="~/Content/user/img/blog/blog-12.jpeg" alt="" />
                            <div class="date">
                                <h4>7</h4>
                                <h5>Dec</h5>
                            </div>
                        </a>
                        <h2><a class="title" href="blog-details.html">Moissanite Fire Holiday Event</a></h2>
                        <div class="meta">
                            <a href="#"><i class="fa fa-pencil-square-o"></i>Luke Dudrick</a>
                            <a href="#"><i class="fa fa-comments"></i>22 Comments</a>
                        </div>
                        <p> This magnificent gemstone has twice the fire of a normal diamond, making it a more sparkly and more affordable alternative.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="content fix">
                        <a class="image fix" href="/Home/BlogDetails">
                            <img src="~/Content/user/img/blog/blog-5.jpeg" alt="" />
                            <div class="date">
                                <h4>27</h4>
                                <h5>Feb</h5>
                            </div>
                        </a>
                        <h2><a class="title" href="/Home/BlogDetails">Animal-Themed Jewelry For Spring</a></h2>
                        <div class="meta">
                            <a href="#"><i class="fa fa-pencil-square-o"></i>Allie Mobley</a>
                            <a href="#"><i class="fa fa-comments"></i>12 Comments</a>
                        </div>
                        <p>Everyone wants to stand out. Deep down no one wants to be ordinary or seen as a cliche.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="content fix">
                        <a class="image fix" href="blog-details.html">
                            <img src="~/Content/user/img/blog/blog-11.jpeg" alt="" />
                            <div class="date">
                                <h4>10</h4>
                                <h5>Dec</h5>
                            </div>
                        </a>
                        <h2><a class="title" href="blog-details.html">December Birthstones – Blue Topaz, Turquoise</a></h2>
                        <div class="meta">
                            <a href="#"><i class="fa fa-pencil-square-o"></i>Gigi Marco, MA, GG</a>
                            <a href="#"><i class="fa fa-comments"></i>24 Comments</a>
                        </div>
                        <p>You were born during one of the luckiest months, since you have so many vibrant, affordable stones that can be worn to celebrate your December birthday.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="single-blog">
                    <div class="content fix">
                        <a class="image fix" href="blog-details.html">
                            <img src="~/Content/user/img/blog/blog-8.jpeg" alt="" />
                            <div class="date">
                                <h4>13</h4>
                                <h5>Feb</h5>
                            </div>
                        </a>
                        <h2><a class="title" href="blog-details.html">Wear It With Style – Chrome Diopside</a></h2>
                        <div class="meta">
                            <a href="#"><i class="fa fa-pencil-square-o"></i>Kristie Carson</a>
                            <a href="#"><i class="fa fa-comments"></i>132 Comments</a>
                        </div>
                        <p>It’s finally here!  Springtime is in the air!  This is also the time to get cleaned up, freshened up, dressed up and certainly chromed up!</p>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <div class="pagination">
                <ul>
                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- Start Blog Area-->
