
@{
    ViewBag.Title = "Shop_list";
}

<div class="page-title fix">
    <!--Start Title-->
    <div class="overlay section">
        <h2>Shop List</h2>
    </div>
</div><!--End Title-->
<!-- Shop Product Area Start -->
<div class="shop-product-area section fix">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="shop-sidebar fix">
                    <!-- single-sidebar start -->
                    <div class="sin-shop-sidebar shop-category">
                        <h2>Category</h2>
                        <div class="sidenav">

                            <button class="dropdown-btn">
                                Dropdown
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-container">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                            <button class="dropdown-btn">
                                Dropdown
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-container">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                            <button class="dropdown-btn">
                                Dropdown
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-container">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                            <button class="dropdown-btn">
                                Dropdown
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-container">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                        </div>
                    <!-- single-sidebar end -->
                    <!-- single-sidebar start -->
                    <div class="sin-shop-sidebar shop-add">
                        <a href="#"><img src="~/Content/user/img/shop-add-1.jpg" alt=""></a>
                    </div>
                    <!-- single-sidebar end -->
                    <!-- single-sidebar start -->
                    <div class="sin-shop-sidebar shop-brands">
                        <h2>Brands</h2>
                        <ul>
                            <li><a href="#">Da Vonna<span>(25)</span></a></li>
                            <li><a href="#">Glitzly Rocks<span>(20)</span></a></li>
                            <li><a href="#">Hira Jewelrs<span>(35)</span></a></li>
                            <li><a href="#">Diamond World<span>(65)</span></a></li>
                            <li><a href="#">Apon Jewelrs<span>(35)</span></a></li>
                            <li><a href="#">Grameen Jewelrs<span>(25)</span></a></li>
                            <li><a href="#">Devs Jewelry<span>(85)</span></a></li>
                            <li><a href="#">Sanonda Jewelrs<span>(15)</span></a></li>
                        </ul>
                    </div>
                    <!-- single-sidebar end -->
                    <!-- single-sidebar start -->
                    <div class="sin-shop-sidebar product-price-range">
                        <h2>Price</h2>
                        <div class="slider-range-container">
                            <div id="slider-range"></div>
                            <p>
                                <input type="text" id="price-amount" readonly>
                            </p>
                        </div>
                    </div>
                    <!-- single-sidebar end -->
                    <!-- single-sidebar start -->
                    <div class="sin-shop-sidebar shop-add">
                        <a href="#"><img src="~/Content/user/img/shop-add-2.jpg" alt=""></a>
                    </div>
                    <!-- single-sidebar end -->
                    <!-- single-sidebar start -->
                    <div class="sin-shop-sidebar shop-tags">
                        <h2>Tags</h2>
                        <ul>
                            <li><a href="#">JEWELRY</a></li>
                            <li><a href="#">Rings</a></li>
                            <li><a href="#">EARRINGS</a></li>
                            <li><a href="#">BRACELETS</a></li>
                            <li><a href="#">Necklaces</a></li>
                            <li><a href="#">Locket</a></li>
                            <li><a href="#">Jewelry Sets</a></li>
                            <li><a href="#">Churi</a></li>
                            <li><a href="#">Watch</a></li>
                        </ul>
                    </div>
                    <!-- single-sidebar end -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <!-- Shop Tool Bar -->
                    <div class="shop-tool-bar col-sm-12 fix">
                        <div class="view-mode">
                            <a href="/Home/Shop_List"><i class="fa fa-th"></i></a>
                            <a href="/Home/Shop_list_1" class="active"><i class="fa fa-th-list"></i></a>
                        </div>
                        <div class="sort-by">
                            <span>Sort By</span>
                            <select name="sort-by">
                                <option selected="selected" value="mercede">price: Lower</option>
                                <option value="saab">price(low&gt;high)</option>
                                <option value="mercedes">price(high &gt; low)</option>
                                <option value="audi">rating(highest)</option>
                            </select>
                        </div>
                        <div class="show-product">
                            <span>Show</span>
                            <select name="sort-by">
                                <option selected="selected" value="mercede">16</option>
                                <option value="saab">20</option>
                                <option value="mercedes">24</option>
                            </select>
                            <span>Per Page</span>
                        </div>
                        <div class="pro-Showing">
                            <span>Showing 1 - 12 of 16 items</span>
                        </div>
                    </div>
                    <div class="shop-products">
                        <!-- Single Product -->
                        <div class="single-list-product col-sm-12">
                            <div class="list-pro-image">
                                <a href="product-details.html">
                                    <img src="~/Content/user/img/product/1.jpg" alt="" />
                                </a>
                            </div>
                            <div class="list-pro-des fix">
                                <a class="pro-name" href="product-details.html">Product Name Demo</a>
                                <div class="pro-ratting">
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star-half-o on"></i>
                                </div>
                                <h4 class="list-pro-price"><span class="new">$152</span><span class="old">$175</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua consectetur adicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua consectetur adicing elit, sed do eiusmod tempor incunt ut labore magna aliqua consectetur adicing elit.</p>
                                <div class="list-actions-btn">
                                    <a class="quick-view" href="#"><i class="fa fa-search"></i></a>
                                    <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
                                    <a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="single-list-product col-sm-12">
                            <div class="list-pro-image">
                                <a href="product-details.html">
                                    <img src="~/Content/user/img/product/2.jpg" alt="" />
                                </a>
                            </div>
                            <div class="list-pro-des fix">
                                <a class="pro-name" href="product-details.html">Product Name Demo</a>
                                <div class="pro-ratting">
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star-half-o on"></i>
                                </div>
                                <h4 class="list-pro-price"><span class="new">$152</span><span class="old">$175</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua consectetur adicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua consectetur adicing elit, sed do eiusmod tempor incunt ut labore magna aliqua consectetur adicing elit.</p>
                                <div class="list-actions-btn">
                                    <a class="quick-view" href="#"><i class="fa fa-search"></i></a>
                                    <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
                                    <a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="single-list-product col-sm-12">
                            <div class="list-pro-image">
                                <a href="product-details.html">
                                    <img src="~/Content/user/img/product/3.jpg" alt="" />
                                </a>
                            </div>
                            <div class="list-pro-des fix">
                                <a class="pro-name" href="product-details.html">Product Name Demo</a>
                                <div class="pro-ratting">
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star-half-o on"></i>
                                </div>
                                <h4 class="list-pro-price"><span class="new">$152</span><span class="old">$175</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua consectetur adicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua consectetur adicing elit, sed do eiusmod tempor incunt ut labore magna aliqua consectetur adicing elit.</p>
                                <div class="list-actions-btn">
                                    <a class="quick-view" href="#"><i class="fa fa-search"></i></a>
                                    <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
                                    <a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="single-list-product col-sm-12">
                            <div class="list-pro-image">
                                <a href="product-details.html">
                                    <img src="~/Content/user/img/product/4.jpg" alt="" />
                                </a>
                            </div>
                            <div class="list-pro-des fix">
                                <a class="pro-name" href="product-details.html">Product Name Demo</a>
                                <div class="pro-ratting">
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star-half-o on"></i>
                                </div>
                                <h4 class="list-pro-price"><span class="new">$152</span><span class="old">$175</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua consectetur adicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua consectetur adicing elit, sed do eiusmod tempor incunt ut labore magna aliqua consectetur adicing elit.</p>
                                <div class="list-actions-btn">
                                    <a class="quick-view" href="#"><i class="fa fa-search"></i></a>
                                    <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
                                    <a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="single-list-product col-sm-12">
                            <div class="list-pro-image">
                                <a href="product-details.html">
                                    <img src="~/Content/user/img/product/5.jpg" alt="" />
                                </a>
                            </div>
                            <div class="list-pro-des fix">
                                <a class="pro-name" href="product-details.html">Product Name Demo</a>
                                <div class="pro-ratting">
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star-half-o on"></i>
                                </div>
                                <h4 class="list-pro-price"><span class="new">$152</span><span class="old">$175</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua consectetur adicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua consectetur adicing elit, sed do eiusmod tempor incunt ut labore magna aliqua consectetur adicing elit.</p>
                                <div class="list-actions-btn">
                                    <a class="quick-view" href="#"><i class="fa fa-search"></i></a>
                                    <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
                                    <a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="single-list-product col-sm-12">
                            <div class="list-pro-image">
                                <a href="product-details.html">
                                    <img src="~/Content/user/img/product/6.jpg" alt="" />
                                </a>
                            </div>
                            <div class="list-pro-des fix">
                                <a class="pro-name" href="product-details.html">Product Name Demo</a>
                                <div class="pro-ratting">
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star-half-o on"></i>
                                </div>
                                <h4 class="list-pro-price"><span class="new">$152</span><span class="old">$175</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua consectetur adicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua consectetur adicing elit, sed do eiusmod tempor incunt ut labore magna aliqua consectetur adicing elit.</p>
                                <div class="list-actions-btn">
                                    <a class="quick-view" href="#"><i class="fa fa-search"></i></a>
                                    <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
                                    <a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="single-list-product col-sm-12">
                            <div class="list-pro-image">
                                <a href="product-details.html">
                                    <img src="~/Content/user/img/product/7.jpg" alt="" />
                                </a>
                            </div>
                            <div class="list-pro-des fix">
                                <a class="pro-name" href="product-details.html">Product Name Demo</a>
                                <div class="pro-ratting">
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star-half-o on"></i>
                                </div>
                                <h4 class="list-pro-price"><span class="new">$152</span><span class="old">$175</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua consectetur adicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua consectetur adicing elit, sed do eiusmod tempor incunt ut labore magna aliqua consectetur adicing elit.</p>
                                <div class="list-actions-btn">
                                    <a class="quick-view" href="#"><i class="fa fa-search"></i></a>
                                    <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
                                    <a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="single-list-product col-sm-12">
                            <div class="list-pro-image">
                                <a href="product-details.html">
                                    <img src="~/Content/user/img/product/8.jpg" alt="" />
                                </a>
                            </div>
                            <div class="list-pro-des fix">
                                <a class="pro-name" href="product-details.html">Product Name Demo</a>
                                <div class="pro-ratting">
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star-half-o on"></i>
                                </div>
                                <h4 class="list-pro-price"><span class="new">$152</span><span class="old">$175</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua consectetur adicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua consectetur adicing elit, sed do eiusmod tempor incunt ut labore magna aliqua consectetur adicing elit.</p>
                                <div class="list-actions-btn">
                                    <a class="quick-view" href="#"><i class="fa fa-search"></i></a>
                                    <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
                                    <a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="single-list-product col-sm-12">
                            <div class="list-pro-image">
                                <a href="product-details.html">
                                    <img src="~/Content/user/img/product/9.jpg" alt="" />
                                </a>
                            </div>
                            <div class="list-pro-des fix">
                                <a class="pro-name" href="product-details.html">Product Name Demo</a>
                                <div class="pro-ratting">
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star-half-o on"></i>
                                </div>
                                <h4 class="list-pro-price"><span class="new">$152</span><span class="old">$175</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua consectetur adicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua consectetur adicing elit, sed do eiusmod tempor incunt ut labore magna aliqua consectetur adicing elit.</p>
                                <div class="list-actions-btn">
                                    <a class="quick-view" href="#"><i class="fa fa-search"></i></a>
                                    <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
                                    <a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="single-list-product col-sm-12">
                            <div class="list-pro-image">
                                <a href="product-details.html">
                                    <img src="~/Content/user/img/product/10.jpg" alt="" />
                                </a>
                            </div>
                            <div class="list-pro-des fix">
                                <a class="pro-name" href="product-details.html">Product Name Demo</a>
                                <div class="pro-ratting">
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star-half-o on"></i>
                                </div>
                                <h4 class="list-pro-price"><span class="new">$152</span><span class="old">$175</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua consectetur adicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua consectetur adicing elit, sed do eiusmod tempor incunt ut labore magna aliqua consectetur adicing elit.</p>
                                <div class="list-actions-btn">
                                    <a class="quick-view" href="#"><i class="fa fa-search"></i></a>
                                    <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
                                    <a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="pagination">
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Shop Product Area End -->
<div class="mean-bar">
    <a href="#nav" class="meanmenu-reveal meanclose" style="right: 0px; left: auto; text-align: center; text-indent: 0px; font-size: 18px;">X</a>
    <nav class="mean-nav">
        <ul style="display: block;">
            <li>
                <a href="index.html" class="active">Home</a>
                <ul style="display: none;">
                    <li><a href="index.html">Home 1</a></li>
                    <li><a href="index-2.html">Home 2</a></li>
                    <li><a href="index-3.html">Home 3</a></li>
                </ul>
                <a class="mean-expand" href="#" style="font-size: 18px">+</a>
            </li>
            <li>
                <a href="#">Pages</a>
                <ul style="display: none;">
                    <li><a href="about-us.html">About US</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                    <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                    <li><a href="blog-details.html">Blog details</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="coming-soon.html">Coming soon</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="contact-2.html">Contact 2</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="portfolio.html">Portfolio 3 column</a></li>
                    <li><a href="portfolio-2.html">Portfolio 4 column</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="shop.html">Shop</a></li>
                    <li><a href="shop-list.html">Shop list</a></li>
                    <li><a href="shop-left-sidebar.html">Shop left sidebar</a></li>
                    <li><a href="shop-right-sidebar.html">Shop right sidebar</a></li>
                    <li><a href="product-details.html">Product details</a></li>
                </ul>
                <a class="mean-expand" href="#" style="font-size: 18px">+</a>
            </li>
            <li>
                <a href="shop.html">Shop</a>
                <ul style="display: none;">
                    <li>
                        <a href="shop-list.html">rings</a>
                        <ul style="display: none;">
                            <li><a href="shop-left-sidebar.html">diamond ring</a></li>
                            <li><a href="shop-right-sidebar.html">gold ring</a></li>
                            <li><a href="shop-list.html">sliver ring</a></li>
                            <li><a href="shop-left-sidebar.html">Platinum ring</a></li>
                        </ul>
                        <a class="mean-expand" href="#" style="font-size: 18px">+</a>
                    </li>
                    <li>
                        <a href="shop-list.html">Bracelets</a>
                        <ul style="display: none;">
                            <li><a href="shop-left-sidebar.html">diamond Bracelets</a></li>
                            <li><a href="shop-right-sidebar.html">gold Bracelets</a></li>
                            <li><a href="shop-left-sidebar.html">sliver Bracelets</a></li>
                            <li><a href="shop-right-sidebar.html">Platinum Bracelets</a></li>
                        </ul>
                        <a class="mean-expand" href="#" style="font-size: 18px">+</a>
                    </li>
                    <li>
                        <a href="shop-list.html">lecklaces</a>
                        <ul style="display: none;">
                            <li><a href="shop-right-sidebar.html">diamond lecklaces</a></li>
                            <li><a href="shop-left-sidebar.html">gold lecklaces</a></li>
                            <li><a href="shop-right-sidebar.html">sliver lecklaces</a></li>
                            <li><a href="shop-left-sidebar.html">Platinum lecklaces</a></li>
                        </ul>
                        <a class="mean-expand" href="#" style="font-size: 18px">+</a>
                    </li>
                </ul>
                <a class="mean-expand" href="#" style="font-size: 18px">+</a>
            </li>
            <li>
                <a href="shop.html">New Arrivals</a>
                <ul style="display: none;">
                    <li>
                        <a href="shop-list.html">rings</a>
                        <ul style="display: none;">
                            <li><a href="shop-left-sidebar.html">diamond ring</a></li>
                            <li><a href="shop-right-sidebar.html">gold ring</a></li>
                            <li><a href="shop-list.html">sliver ring</a></li>
                            <li><a href="shop-left-sidebar.html">Platinum ring</a></li>
                        </ul>
                        <a class="mean-expand" href="#" style="font-size: 18px">+</a>
                    </li>
                    <li>
                        <a href="shop-list.html">Bracelets</a>
                        <ul style="display: none;">
                            <li><a href="shop-left-sidebar.html">diamond Bracelets</a></li>
                            <li><a href="shop-right-sidebar.html">gold Bracelets</a></li>
                            <li><a href="shop-left-sidebar.html">sliver Bracelets</a></li>
                            <li><a href="shop-right-sidebar.html">Platinum Bracelets</a></li>
                        </ul>
                        <a class="mean-expand" href="#" style="font-size: 18px">+</a>
                    </li>
                    <li>
                        <a href="shop-list.html">lecklaces</a>
                        <ul style="display: none;">
                            <li><a href="shop-right-sidebar.html">diamond lecklaces</a></li>
                            <li><a href="shop-left-sidebar.html">gold lecklaces</a></li>
                            <li><a href="shop-right-sidebar.html">sliver lecklaces</a></li>
                            <li><a href="shop-left-sidebar.html">Platinum lecklaces</a></li>
                        </ul>
                        <a class="mean-expand" href="#" style="font-size: 18px">+</a>
                    </li>
                    <li>
                        <a href="shop-right-sidebar.html">earrings</a>
                        <ul style="display: none;">
                            <li><a href="shop-right-sidebar.html">diamond lecklaces</a></li>
                            <li><a href="shop-left-sidebar.html">gold earrings</a></li>
                            <li><a href="shop-list.html">sliver earrings</a></li>
                            <li><a href="shop-left-sidebar.html">Platinum earrings</a></li>
                        </ul>
                        <a class="mean-expand" href="#" style="font-size: 18px">+</a>
                    </li>
                </ul>
                <a class="mean-expand" href="#" style="font-size: 18px">+</a>
            </li>
            <li>
                <a href="portfolio.html">Portfolio</a>
                <ul style="display: none;">
                    <li><a href="portfolio.html">Portfolio 3 column</a></li>
                    <li><a href="portfolio-2.html">Portfolio 4 column</a></li>
                </ul>
                <a class="mean-expand" href="#" style="font-size: 18px">+</a>
            </li>
            <li>
                <a href="blog.html">Blog</a>
                <ul style="display: none;">
                    <li><a href="blog.html">Blog 1</a></li>
                    <li><a href="blog-left-sidebar.html">Blog 2</a></li>
                    <li><a href="blog-right-sidebar.html">Blog 3</a></li>
                </ul>
                <a class="mean-expand" href="#" style="font-size: 18px">+</a>
            </li>
            <li><a href="about-us.html">About Us</a></li>
            <li>
                <a href="contact.html">Contact</a>
                <ul style="display: none;">
                    <li><a href="contact.html">Contact 1</a></li>
                    <li class="mean-last"><a href="contact-2.html">Contact 2</a></li>
                </ul>
                <a class="mean-expand" href="#" style="font-size: 18px">+</a>
            </li>
        </ul>
    </nav>
</div>